@CHARSET "UTF-8";

html {
	background-color: #E9E7E4;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

html#error {
	background-color: #FFFFFF;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h1 {
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h2 {
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20.9px;
}

h3 {
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

p {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

form {
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

form#right {
    float:right;
}

form#left {
    float:left;
}

form#login {
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 20.9px;
}

input[type=text],input[type=password],input[type=email] {
	padding: 4px;
	margin: 3px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
}

input[type=text]:focus,input[type=password]:focus,input[type=email]:focus
	{
	border-color: #333;
}

input[type=submit] {
	font-size: 14px;
	padding: 5px 15px;
	background: #990000;
	border: 0px;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 3px;
}

input[type=submit]#delComment {
	font-size: 18px;
	padding: 2px;
	background: #990000;
	border: 0px;
	color: #000000;
	cursor: pointer;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	margin: 0px;
}

input[type=submit]:disabled {
	background: #808080;
}

input[type=submit]#view {
	font-size: 17px;
	background: #000066;
	width: 8em;
}

input[type=submit]:hover {
	background: #000066;
}

input[type=submit]:disabled:hover {
	background: #808080;
}

input[type=submit]#view:hover {
	background: #990000;
}

input[type=submit]#back {
	font-size: 17px;
}

input[type=submit]#menu {
	font-size: 16px;
	width: 12em;
}

input[type=submit]#menu:disabled {
	background: #000066;
}

input[type=submit]#menu:disabled:hover {
	background: #000066;
}

input[type=submit]#del {
	font-size: 16px;
	width: 8em;
}

input[type=submit]#view2 {
	background: #000066;
	font-size: 17px;
	width: 6em;
}

input[type=submit]#view2:hover {
	background: #990000;
}

input[type=submit].hideThis {
	font-size: 17px;
	background: #000066;
	width: 8em;
	display: none;
}

input[type=submit].hideThis:hover {
	background: #990000;
}

input[type=button] {
	font-size: 17px;
	padding: 5px 15px;
	background: #990000;
	border: 0px;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 3px;
	width: 6em;
}

input[type=button]:hover {
	background: #000066;
}

button {
	font-size: 14px;
	padding: 5px 15px;
	background: #990000;
	border: 0px;
	color: #FFFFFF;
	cursor: pointer;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 3px;
}

button:hover {
	background: #000066;
}

textarea {
	font-size: 14px;
	resize: none;
	padding: 4px;
	margin: 3px;
	border: 2px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 36em;
	height: 6em;
}

textarea#full {
	height: 20em;
}

select {
	padding: 4px;
	border: solid 1px #E5E5E5;
	outline: 0;
	width: 170px;
	font-size: 12px;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF),
		color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

blockquote {
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}

pre {
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5667px;
}

a:link {
	color: #000066;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: #000066;
	background-color: transparent;
	text-decoration: underline;
}

a:visited {
	color: #000066;
	background-color: transparent;
	text-decoration: none;
}

table {
	width: 100%;
}

table#text {
	width: 85%;
}

table#error {
	background-color: #FFFFFF;
	height: 100%;
}

table#comment {
	width: 50%;
	margin-left:25%; 
    margin-right:25%;
}

table,th,td {
	color: #333;
	font-size: 14px;
	border-collapse: collapse;
	border-spacing: 0;
}

th,td {
	border: 3px solid;
	height: 30px;
	transition: all 0.3s;
	padding: 4px;
	background-color: #E9E7E4;
	vertical-align: middle;
}

td {
	border-right: solid 3px black;
	border-left: solid 3px black;
}

tr#body {
	height: 80vh;
}

tr#header {
	height: 10vh;
}

tr#footer {
	height: 5vh;
}

td#news {
	font-size: 16px;
	border-right: solid 1px black;
	border-left: solid 1px black;
	border-top: solid 1px black;
	border-bottom: solid 0px black;
}

td#news2 {
	font-size: 17px;
	border-right: solid 0px black;
	border-left: solid 0px black;
	border-top: solid 0px black;
	border-bottom: solid 0px black;
}

td#shortText {
	text-align: justify;
	border-right: solid 1px black;
	border-left: solid 1px black;
	border-top: solid 0px black;
	border-bottom: solid 0px black;
}

td#text {
	font-size: 16px;
	text-align: justify;
	border-right: solid 0px black;
	border-left: solid 0px black;
	border-top: solid 0px black;
	border-bottom: solid 0px black;
}

td#comment {
	font-size: 16px;
	border-right: solid 0px black;
	border-left: solid 0px black;
	border-top: solid 1px black;
	border-bottom: solid 0px black;
}

td#tags {
	border-right: solid 1px black;
	border-left: solid 1px black;
	border-top: solid 0px black;
	border-bottom: solid 1px black;
}

td#error {
	border: 0px;
	background-color: #FFFFFF;
}

td#menu {
	border-right: solid 1px black;
	vertical-align: top;
	width: 15%;
}

td#menu2 {
	border-left: solid 0px black;
	width: 85%;
}

td#add {
	border: 0px solid;
}

td#addLeft {
	width: 60%;
	border: 0px solid;
	text-align: right;
}

td#addRight {
	width: 40%;
	border: 0px solid;
	text-align: left;
}

#underline {
	font-size: 14px;
	float:right;
	text-decoration: underline;
}

.menu {
  float: left;
  margin: 0px;
  padding: 0px;
  width: 200px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.blueC {
	text-align: center;
	color: #000099;
}

.redC {
	text-align: center;
	color: #990000;
}

.red {
	color: #990000;
}

.greenC {
	text-align: center;
	color: #006600;
}

#gray {
	color: #808080;
}

#17px {
	font-size: 17px;
}

#19px {
	font-size: 19px;
}

#grayB {
	background-color: #C0C0C0;
	padding-bottom: 5px;
}

.error {
	text-align: center;
}

.error2 {
	text-align: center;
	font-size: 20px;
}

.error3 {
	text-align: center;
	font-size: 18px;
}

.hideThis {
	display: none;
}

.inline {
	display: inline;
}