@CHARSET "UTF-8";
table {
    width: 100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
}
th, td {
    padding: 5px;
}
.maintext {
	text-align: center;
	color: #000066;
}
.addtext {
	text-align: center;
}
.taxitext {
	text-align: center;
	color: red;
}
#buttons {
	display: inline-block;
	text-align: center;
	font-size: 21px;
	background-color: #33CCCC;
	color: #000066;
	padding: 5px;
	width: 510px;
	height: 210px;
}