<?xml version="1.0" encoding="UTF-8"?>
<javaee:taglib version="2.1" xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd ">
	<javaee:tlib-version>1.0</javaee:tlib-version>
	<javaee:short-name>my</javaee:short-name>
	<javaee:function>
        <javaee:name>contains</javaee:name>
        <javaee:function-class>com.epam.newsmanagement.tag.ContainFunction</javaee:function-class>
        <javaee:function-signature>boolean contains(java.lang.String[], java.lang.String)
        </javaee:function-signature>
    </javaee:function>
</javaee:taglib>